<script>
    $(function () {
        $('#DeleteItem').click(function () {
            $('#DeleteItem').attr("href", $('#DeleteItem').attr("href").replace("P8020ID", $('#ItemToDelete').val()));
            $('#DeleteItem').attr("href", $('#DeleteItem').attr("href").replace("P8020EventID", $('#EventToReturnTo').val()));
            return (true);
        });
    });
    function addNewItem(eventID) {
        clearNewForm();
        $('#newFormEventID').text(eventID);
        $('#allAttachmentItems').fadeOut(500, function () { $('#newForm').fadeIn(500, null); });
    }
    function hideNewForm() {
        $('#newForm').fadeOut(500, function () { $('#allAttachmentItems').fadeIn(500, null); clearNewForm(); });
    }
    function clearNewForm() {
        $('#newItemURL').val("");
        $('#NewFormValidator').hide();
    }
    function postFiles() {
        if ($('#newItemURL').val() == "") {
            $('#newFormValidator').fadeIn(250, null);
            return;
        }
        $('#postFiles').submit();
    }
    function deleteItem(eventID, itemID, title) {
        $('#DeleteURL').text("Delete Item: " + title + "?");
        $('#ItemToDelete').val(itemID);
        $('#allAttachmentItems').fadeOut(500, function () { $('#deleteForm').fadeIn(500, null); });
    }
    function hideDeleteForm() {
        $('#deleteForm').fadeOut(500, function () { $('#allAttachmentItems').fadeIn(500, null); });
    }

</script>
<div class="clearfix">&nbsp;</div>
<div id="newForm" class="form-inline" style="display:none;">
    <div class="clearfix">&nbsp;</div>
    Add New Attachment
    <div class="form-inline" style="background-color:#ffffff;">
        <table style="width:800px;font-size:small;" border="0">
            <tr>
                <td style="width:100px;padding:5px;vertical-align:top;">Upload File(s)*</td>
                <td style="padding:5px;">
                    <form action="/Home/UploadFiles?EventID=@ViewBag.EventID&SPHostUrl=@ViewBag.SPContextUrl" method="post" enctype="multipart/form-data" id="postFiles" class="form-inline" style="width:100%;border:none;">
                        <input type="file" name="newItemURL" id="newItemURL" multiple width="450" style="min-width:450px" />
                        <div id="newFormValidator" class="alert-warning" style="padding: 5px; display: none; width: 450px; text-align: left; float: left;">At least one file is required!</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="ActionLinkButton" onclick="postFiles();" style="width:100px;float:left;margin-left:0px;">
                            Save
                        </div>
                        <div class="ActionLinkButton" onclick="hideNewForm();" style="width: 100px; float: left;">
                            Cancel
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <input type="hidden" id="FormEventID" value="@ViewBag.EventID" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="deleteForm" class="form-inline" style="display:none;z-index:1000;">
    <div class="h2" id="DeleteURL"></div>
    <div style="background-color:#ffffff;">
        <div>Atttachment will be permanently deleted. Are you sure you want to continue?</div>
        <div class="clearfix">&nbsp;</div>
        <input type="hidden" id="ItemToDelete" /><input type="hidden" id="EventToReturnTo" value="@ViewBag.EventID" />
        @Html.ActionLink("Yes", "DeleteAttachmentItem", "Home", new { EventID = "P8020EventID", ItemID = "P8020ID" }, new { id = "DeleteItem", @class = "ActionLinkButton", @style = "width:100px;float:left;" })
        <div class="ActionLinkButton" onclick="hideDeleteForm();" style="width:100px;float:left;">
            No
        </div>
    </div>
</div>
<div id="allAttachmentItems">
    @if (ViewBag.AttachmentItems.Count == 0)
    {
        <div class="clearfix">&nbsp;</div>
        <div>There are currently no Attachments.</div>
        <div class="clearfix">&nbsp;</div>
        if ((ViewBag.IsSiteOwner) || (ViewBag.IsCoordinator))
        {
            <div id="addNew" class="ActionLinkButton" onclick="addNewItem('@ViewBag.EventID');" style="float:left;width:150px;">
                Add Attachment
            </div>
        }
        @Html.ActionLink("Back to Events", "Events", "Home", null, new { @class = "ActionLinkButton", @style = "width:150px;float:left;" })
    }
    else
    {
        if ((ViewBag.IsSiteOwner) || (ViewBag.IsCoordinator))
        {
            <div class="clearfix" style="margin-bottom:20px;">&nbsp;</div>
            <label class="list-group-item-heading" style="width: 200px; padding-left:0;">Attachments</label>
            <div class="column" id="attachmentItems" style="width:100%">
                @foreach (ContosoEventsWeb.Models.EventAttachment attachmentItem in @ViewBag.AttachmentItems)
                {
                    <div id="@attachmentItem.AttachmentID" class="form-inline" style="width:900px;">
                        <div style="width: 500px; float: left; margin-right: 20px; height:30px;padding-top:10px;">@attachmentItem.DisplayText</div>

                        <a href="@attachmentItem.AttachmentURL" target="_blank">  <img src="../Images/ViewAttachment.png" title="View: Opens in new window" style="margin:5px;cursor:pointer;float:left;" /> </a>

                            <img src="../Images/DeleteAttachment.png" title="Delete" style="margin:5px;cursor:pointer;float:left;" onclick="deleteItem('@ViewBag.EventID','@attachmentItem.AttachmentID', '@attachmentItem.AttachmentURL');" />
                            <div class="clearfix">&nbsp;</div>
                    </div>
                }
            </div>
            <div class="clearfix" style="margin-bottom:20px;">&nbsp;</div>
            <div id="addNew" class="ActionLinkButton" onclick="addNewItem('@ViewBag.EventID');" style="float:left;width:150px;">
                Add Attachment
            </div>
            @Html.ActionLink("Back to Events", "Events", "Home", null, new { @class = "ActionLinkButton", @style = "width:150px;float:left;" })
        }
        else
        {
            <div class="clearfix" style="margin-bottom:20px;">&nbsp;</div>
            <label class="list-group-item-heading" style="width: 200px;">Attachments</label>
            <div class="list-group" id="presenterItems" style="width:900px">
                @foreach (ContosoEventsWeb.Models.EventAttachment attachmentItem in @ViewBag.AttachmentItems)
                {
                    <div style="width:200px;float:left;margin-right:20px;">@attachmentItem.AttachmentURL</div>
                    <div class="clearfix">&nbsp;</div>
                }
            </div>
            @Html.ActionLink("Back to Events", "Events", "Home", null, new { @class = "ActionLinkButton", @style = "width:150px;float:left;" })       
        }
    }
</div>
